In [12]:
import pandas as pd
# load the data using pandas, header not found
df = pd.read_csv('datasets/student1.csv')
print('DataSet\n', df)

DataSet
     1     anil  TE  56.77  22
0   2     amit  TE  59.77  21
1   3   aniket  BE  76.88  19
2   4  ajinkya  TE  69.66  20
3   5     asha  TE  63.28  20
4   6   ayesha  BE  49.55  20
5   7     amar  BE  65.34  19
6   8    amita  BE  68.33  23
7   9     amol  TE  56.75  20
8  10    anmol  BE  78.66  21

In [13]:
#adding header to the dataset with some names
df = pd.read_csv('datasets/student1.csv', names = ['Roll', 'Name', 'Class', 'Marks', 'Age'] )
print('DataSet\n', df)

DataSet
    Roll     Name Class  Marks  Age
0     1     anil    TE  56.77   22
1     2     amit    TE  59.77   21
2     3   aniket    BE  76.88   19
3     4  ajinkya    TE  69.66   20
4     5     asha    TE  63.28   20
5     6   ayesha    BE  49.55   20
6     7     amar    BE  65.34   19
7     8    amita    BE  68.33   23
8     9     amol    TE  56.75   20
9    10    anmol    BE  78.66   21

In [14]:
xx = df.iloc[0:8, 0:3]
print('Index based slicing of DataSet\n', xx)

Index based slicing of DataSet
    Roll     Name Class
0     1     anil    TE
1     2     amit    TE
2     3   aniket    BE
3     4  ajinkya    TE
4     5     asha    TE
5     6   ayesha    BE
6     7     amar    BE
7     8    amita    BE

In [15]:
xx = df.iloc[3:, 1:3] #starting from 3rd row till end and columns from 1 to 3
print('Index based slicing of DataSet\n', xx)

Index based slicing of DataSet
       Name Class
3  ajinkya    TE
4     asha    TE
5   ayesha    BE
6     amar    BE
7    amita    BE
8     amol    TE
9    anmol    BE

In [16]:
xx = df.iloc[[3,5,8,9], :] #Random selection of the rows and all the columns
print('Index based slicing of DataSet\n', xx)

Index based slicing of DataSet
    Roll     Name Class  Marks  Age
3     4  ajinkya    TE  69.66   20
5     6   ayesha    BE  49.55   20
8     9     amol    TE  56.75   20
9    10    anmol    BE  78.66   21

In [17]:
xx = df.iloc[[3,5,8,9], [1,3,4]] #Random selection of the rows and columns
print('Index based slicing of DataSet\n', xx)

Index based slicing of DataSet
       Name  Marks  Age
3  ajinkya  69.66   20
5   ayesha  49.55   20
8     amol  56.75   20
9    anmol  78.66   21

In [18]:
# label based slicing
xx1 = df[['Name', 'Marks','Age']]
print('label slicing of DataSet\n', xx1)

label slicing of DataSet
       Name  Marks  Age
0     anil  56.77   22
1     amit  59.77   21
2   aniket  76.88   19
3  ajinkya  69.66   20
4     asha  63.28   20
5   ayesha  49.55   20
6     amar  65.34   19
7    amita  68.33   23
8     amol  56.75   20
9    anmol  78.66   21