In [1]:
for i in 1,2,3,4,5:
    print('i')

i
i
i
i
i

In [2]:
for num in 20,30,45,55,60:
    sq=num*num
    print('the value of sq of the num:',sq)

the value of sq of the num: 400
the value of sq of the num: 900
the value of sq of the num: 2025
the value of sq of the num: 3025
the value of sq of the num: 3600

In [3]:
def square(num=10):
    sq=num*num
    return sq
square(4)

16

In [4]:
square(11)

121

In [5]:
def calc(num):
    sq=num*num
    cu=num**3
    return sq, cu
calc(10)

(100, 1000)

In [6]:
num1=[10,40,55,62,32,49]
type(num1)

list

In [8]:
num1[3]

62

In [9]:
num2=(10,40,55,62,32,49)
type(num2)

tuple

In [12]:
num3={10,20,20,30}
type(num3)

set

In [13]:
num3

{10, 20, 30}

In [15]:
num4={1:5,6:8,10:12,'y':40}

In [16]:
type(num4)

dict

In [18]:
num4[1]

5

In [33]:
class Person:
    def __init__(self, n, a):
      self.name=n
      self.age=a
    def show(self):
      print('Values are:')
      print(self.name, self.age)

In [34]:
p1=Person('Ajay', 34)

In [35]:
p1.show()

Values are:
Ajay 34

In [45]:
import math
#help(math)
a=math.sqrt(3)
b=math.factorial(3)