In [37]:

import pandas as pd
import numpy as np

In [38]:
# 01-1 reading the data using pandas
df = pd.read_csv('datasets/airquality.csv')
print('DataSet\n', df)

DataSet
      Unnamed: 0  Ozone  Solar.R  Wind  Temp  Month  Day
0             1   41.0    190.0   7.4    67      5    1
1             2   36.0    118.0   8.0    72      5    2
2             3   12.0    149.0  12.6    74      5    3
3             4   18.0    313.0  11.5    62      5    4
4             5    NaN      NaN  14.3    56      5    5
..          ...    ...      ...   ...   ...    ...  ...
148         149   30.0    193.0   6.9    70      9   26
149         150    NaN    145.0  13.2    77      9   27
150         151   14.0    191.0  14.3    75      9   28
151         152   18.0    131.0   8.0    76      9   29
152         153   20.0    223.0  11.5    68      9   30

[153 rows x 7 columns]

In [64]:
#01-2 find number of rows and columns
rows, cols = df.shape
r = rows
c = cols
print('no of rows:', r)
print('no of columns:', c)

no of rows: 153
no of columns: 7

In [65]:
# 01-3 find names columns  
column_names = df.columns
print('column names\n',column_names)

column names
 Index(['Unnamed: 0', 'Ozone', 'Solar.R', 'Wind', 'Temp', 'Month', 'Day'], dtype='object')

In [68]:
# 01-4 extracting row data from 10 to 25  
slicing_row = df.iloc[10:26,:]
print('extraction of row data from 10 to 25\n', slicing_row)

extraction of row data from 10 to 25
     Unnamed: 0  Ozone  Solar.R  Wind  Temp  Month  Day
10          11    7.0      NaN   6.9    74      5   11
11          12   16.0    256.0   9.7    69      5   12
12          13   11.0    290.0   9.2    66      5   13
13          14   14.0    274.0  10.9    68      5   14
14          15   18.0     65.0  13.2    58      5   15
15          16   14.0    334.0  11.5    64      5   16
16          17   34.0    307.0  12.0    66      5   17
17          18    6.0     78.0  18.4    57      5   18
18          19   30.0    322.0  11.5    68      5   19
19          20   11.0     44.0   9.7    62      5   20
20          21    1.0      8.0   9.7    59      5   21
21          22   11.0    320.0  16.6    73      5   22
22          23    4.0     25.0   9.7    61      5   23
23          24   32.0     92.0  12.0    61      5   24
24          25    NaN     66.0  16.6    57      5   25
25          26    NaN    266.0  14.9    58      5   26

In [42]:
# 01-5 extracting data from temperature column
temp_data = df['Temp']
print('Temperature data is \n', temp_data)

temperature data is
 0      67
1      72
2      74
3      62
4      56
       ..
148    70
149    77
150    75
151    76
152    68
Name: Temp, Length: 153, dtype: int64

In [69]:
# 01-6 data conversion from forenheigt to centigrade
temp_centg = 1.8*temp_data-57.6
print('Temperature data in degC is \n', temp_centg)

temperature data in degC is
 0      63.0
1      72.0
2      75.6
3      54.0
4      43.2
       ...
148    68.4
149    81.0
150    77.4
151    79.2
152    64.8
Name: Temp, Length: 153, dtype: float64

In [73]:
# 01-7 displaying the information of fifth month
info_fifth_m = df['Month']
#print('label slicing of DataSet\n',info_fifth_m )

month = df[df['Month']==5]
print('Selecting DataSet containing month 5 \n', month)

Selecting DataSet containing month 5
      Unnamed: 0  Ozone  Solar.R  Wind  Temp  Month  Day
0             1   41.0    190.0   7.4    67      5    1
1             2   36.0    118.0   8.0    72      5    2
2             3   12.0    149.0  12.6    74      5    3
3             4   18.0    313.0  11.5    62      5    4
4             5    NaN      NaN  14.3    56      5    5
..          ...    ...      ...   ...   ...    ...  ...
148         149   30.0    193.0   6.9    70      5   26
149         150    NaN    145.0  13.2    77      5   27
150         151   14.0    191.0  14.3    75      5   28
151         152   18.0    131.0   8.0    76      5   29
152         153   20.0    223.0  11.5    68      5   30

[153 rows x 7 columns]

In [1]:
# 02-1 reading the data using pandas
import pandas as pd
import numpy as np
df = pd.read_csv('datasets/cricket.csv')
print('Data of cricket players\n', df)

Data of cricket players
    sr.no           name  matches  runs  catches  wickets  stumpings
0      1    Anil Dalpat      122  6755       56       12          0
1      2   Rohan Kanhay      144  1256       76      178          0
2      3  Avdhoot Dighe      265  8954      120        0          0
3      4       Bahubali       10   756        6       11          3
4      5      Leeladhar      234  2866      105      376          0
5      6      Pradyumna      177  5877       47      122          0
6      7     Dinesh Roy      211  8537      112       16          0
7      8     Parmeshwar      245  9466       53        0          0
8      9    Ali Durrani       55  2756       12       26          0
9     10   Litesh Singh       89  1099       46       49          0

In [2]:
# 02-2 list of cricketers along with their runs
cric_list = df.loc[:, ['name', 'runs']]
print('List of cricketers along with their runs\n', cric_list)

List of cricketers along with their runs
             name  runs
0    Anil Dalpat  6755
1   Rohan Kanhay  1256
2  Avdhoot Dighe  8954
3       Bahubali   756
4      Leeladhar  2866
5      Pradyumna  5877
6     Dinesh Roy  8537
7     Parmeshwar  9466
8    Ali Durrani  2756
9   Litesh Singh  1099

In [3]:
# 02-3 Total wickets taken by all the cricketers 
wickets1 = df.loc[:,'wickets']
sum_wickets = wickets1.sum()
print('Wickets taken:\n', sum_wickets)

Wickets taken:
 790

In [8]:
# 02-4 average catches by all the cricketers 
catches1 = df.loc[:,'catches']
avg_catches = catches1.mean()
print('Average catches:\n', avg_catches)

Average catches:
 63.3

In [11]:
# 02-5 strike rate of a cricketer 
#df['Total Balls Faced'] = pd.NA
def calculate_balls_faced(row):
    return row['matches'] * 60 #considered 60 as min number of balls faced per match
df['Total Balls Faced'] = df.apply(calculate_balls_faced, axis=1)
df['Strike_Rate'] = (df['runs'] / df['Total Balls Faced']) * 100
print(df)

   sr.no           name  matches  runs  catches  wickets  stumpings  \
0      1    Anil Dalpat      122  6755       56       12          0
1      2   Rohan Kanhay      144  1256       76      178          0
2      3  Avdhoot Dighe      265  8954      120        0          0
3      4       Bahubali       10   756        6       11          3
4      5      Leeladhar      234  2866      105      376          0
5      6      Pradyumna      177  5877       47      122          0
6      7     Dinesh Roy      211  8537      112       16          0
7      8     Parmeshwar      245  9466       53        0          0
8      9    Ali Durrani       55  2756       12       26          0
9     10   Litesh Singh       89  1099       46       49          0

   Total Balls Faced  Strike Rate  Strike_Rate
0               7320    92.281421    92.281421
1               8640    14.537037    14.537037
2              15900    56.314465    56.314465
3                600   126.000000   126.000000
4              14040    20.413105    20.413105
5              10620    55.338983    55.338983
6              12660    67.432859    67.432859
7              14700    64.394558    64.394558
8               3300    83.515152    83.515152
9               5340    20.580524    20.580524

In [13]:
# 02-6 strike rate of a cricketer more than 60
Strike_Rate = df[df['Strike Rate']>50]
print('Selecting DataSet containing Strike Rate more than 50 \n', Strike_Rate )

Selecting DataSet containing Strike Rate more than 50
    sr.no           name  matches  runs  catches  wickets  stumpings  \
0      1    Anil Dalpat      122  6755       56       12          0
2      3  Avdhoot Dighe      265  8954      120        0          0
3      4       Bahubali       10   756        6       11          3
5      6      Pradyumna      177  5877       47      122          0
6      7     Dinesh Roy      211  8537      112       16          0
7      8     Parmeshwar      245  9466       53        0          0
8      9    Ali Durrani       55  2756       12       26          0

   Total Balls Faced  Strike Rate  Strike_Rate
0               7320    92.281421    92.281421
2              15900    56.314465    56.314465
3                600   126.000000   126.000000
5              10620    55.338983    55.338983
6              12660    67.432859    67.432859
7              14700    64.394558    64.394558
8               3300    83.515152    83.515152

In [144]:
# 02-7 Finding wicket keeper name
name_keeper  = df[df['stumpings']>0]
print('Finding wicket keeper name \n', name_keeper)

Finding wicket keeper name
    sr.no      name  matches  runs  catches  wickets  stumpings  \
3      4  Bahubali       10   756        6       11          3

   Total Balls Faced  Strike Rate
3                600        126.0

In [147]:
# 02-8 the cricketer who played max no of matches
matches1 = df.loc[:,['matches']]
max_match = matches1.max()
print('max no of matches:\n', max_match)

max no of matches:
 matches    265
dtype: int64

In [148]:
max_match  = df[df['matches']==265]
print(' the cricketer who played max no of matches \n', max_match )

 the cricketer who played max no of matches
    sr.no           name  matches  runs  catches  wickets  stumpings  \
2      3  Avdhoot Dighe      265  8954      120        0          0

   Total Balls Faced  Strike Rate
2              15900    56.314465

In [14]:
# 02-9 avg of all the bowlers
not_bowlers  = df[df['wickets']==0]
print('players who are not bowlers\n', not_bowlers)

players who are not bowlers
    sr.no           name  matches  runs  catches  wickets  stumpings  \
2      3  Avdhoot Dighe      265  8954      120        0          0
7      8     Parmeshwar      245  9466       53        0          0

   Total Balls Faced  Strike Rate  Strike_Rate
2              15900    56.314465    56.314465
7              14700    64.394558    64.394558

In [15]:
df = df.drop([2,7]) # 2 7 index are dropped from row
print('players who are bowlers\n', df)

players who are bowlers
    sr.no          name  matches  runs  catches  wickets  stumpings  \
0      1   Anil Dalpat      122  6755       56       12          0
1      2  Rohan Kanhay      144  1256       76      178          0
3      4      Bahubali       10   756        6       11          3
4      5     Leeladhar      234  2866      105      376          0
5      6     Pradyumna      177  5877       47      122          0
6      7    Dinesh Roy      211  8537      112       16          0
8      9   Ali Durrani       55  2756       12       26          0
9     10  Litesh Singh       89  1099       46       49          0

   Total Balls Faced  Strike Rate  Strike_Rate
0               7320    92.281421    92.281421
1               8640    14.537037    14.537037
3                600   126.000000   126.000000
4              14040    20.413105    20.413105
5              10620    55.338983    55.338983
6              12660    67.432859    67.432859
8               3300    83.515152    83.515152
9               5340    20.580524    20.580524

In [24]:
##02-8 the cricketer who played max no of matches
matches1 = df.loc[:,['matches']]
max_match = matches1.max()
print('max no of matches:\n', max_match)

max no of matches:
 matches    234
dtype: int64

In [25]:
max_match  = df[df['matches']== 234]
print(' the cricketer who played max no of matches \n', max_match )

 the cricketer who played max no of matches
    sr.no       name  matches  runs  catches  wickets  stumpings  \
4      5  Leeladhar      234  2866      105      376          0

   Total Balls Faced  Strike Rate  Strike_Rate
4              14040    20.413105    20.413105

In [152]:
bowling_avg = df.loc[:,'wickets']
bowling_avg = bowling_avg.mean()
print('avg of all the bowlers\n', bowling_avg)

avg of all the bowlers
 98.75

In [158]:
# 02-10 avg of all the bowlers
df = pd.read_csv('datasets/cricket.csv')
df['Runs Conceded'] = pd.NA
df['Runs Conceded'] = df['wickets'] * 25 #Assuming 25 runs per wicket 
df['Bowling Average'] = (df['Runs Conceded'] / df['matches']) * 2 #2 is avg wickets atken per match
print(df)

   sr.no           name  matches  runs  catches  wickets  stumpings  \
0      1    Anil Dalpat      122  6755       56       12          0
1      2   Rohan Kanhay      144  1256       76      178          0
2      3  Avdhoot Dighe      265  8954      120        0          0
3      4       Bahubali       10   756        6       11          3
4      5      Leeladhar      234  2866      105      376          0
5      6      Pradyumna      177  5877       47      122          0
6      7     Dinesh Roy      211  8537      112       16          0
7      8     Parmeshwar      245  9466       53        0          0
8      9    Ali Durrani       55  2756       12       26          0
9     10   Litesh Singh       89  1099       46       49          0

   Runs Conceded  Bowling Average
0            300         4.918033
1           4450        61.805556
2              0         0.000000
3            275        55.000000
4           9400        80.341880
5           3050        34.463277
6            400         3.791469
7              0         0.000000
8            650        23.636364
9           1225        27.528090

In [159]:
not_bowlers  = df[df['wickets']==0]
print('players who are not bowlers\n', not_bowlers)

players who are not bowlers
    sr.no           name  matches  runs  catches  wickets  stumpings  \
2      3  Avdhoot Dighe      265  8954      120        0          0
7      8     Parmeshwar      245  9466       53        0          0

   Runs Conceded  Bowling Average
2              0              0.0
7              0              0.0

In [160]:
df = df.drop([2,7]) # 2 7 index are dropped from row
print('players who are bowlers\n', df)

players who are bowlers
    sr.no          name  matches  runs  catches  wickets  stumpings  \
0      1   Anil Dalpat      122  6755       56       12          0
1      2  Rohan Kanhay      144  1256       76      178          0
3      4      Bahubali       10   756        6       11          3
4      5     Leeladhar      234  2866      105      376          0
5      6     Pradyumna      177  5877       47      122          0
6      7    Dinesh Roy      211  8537      112       16          0
8      9   Ali Durrani       55  2756       12       26          0
9     10  Litesh Singh       89  1099       46       49          0

   Runs Conceded  Bowling Average
0            300         4.918033
1           4450        61.805556
3            275        55.000000
4           9400        80.341880
5           3050        34.463277
6            400         3.791469
8            650        23.636364
9           1225        27.528090

In [26]:
# 02-11 min bowling avg
min_bowling_avg = df.min()
print('min avg of all the bowlers\n', min_bowling_avg)

min avg of all the bowlers
 sr.no                          1
name                 Ali Durrani
matches                       10
runs                         756
catches                        6
wickets                       11
stumpings                      0
Total Balls Faced            600
Strike Rate            14.537037
Strike_Rate            14.537037
dtype: object

In [18]:
# 02-12 name of player whose wickets are more than matches
bowlers_wickets  = df[df['wickets']>df['matches']]
print('name of player whose wickets are more than matches\n', bowlers_wickets['name'])

name of player whose wickets are more than matches
 1    Rohan Kanhay
3        Bahubali
4       Leeladhar
Name: name, dtype: object